.text-field {
    -fx-font-size: 27pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-padding: 5 5 5 5;

    -fx-background-color: #eeeeee;
    -fx-background-radius: 16px;

    -fx-border-color: #4d4d4d;
    -fx-border-radius: 16px;
    -fx-border-width: 4px;
}

.button {
    -fx-padding: 1 1 1 1;
    -fx-background-radius: 16px;
    -fx-background-color: #4d4d4d;

    -fx-border-color: #eeeeee;
    -fx-border-radius: 16px;
    -fx-border-width: 3px;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 20pt;
    -fx-text-fill: #d8d8d8;
}

.button:hover {
    -fx-background-color: #20203a;
    -fx-font-size: 22pt;
    -fx-font-weight: bold;
}

.button:pressed {
    -fx-background-radius: 16px;
    -fx-background-color: #bcefff;

    -fx-border-color: #f5f5ff;
    -fx-border-radius: 16px;
    -fx-border-width: 3px;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 25pt;
    -fx-font-weight: bold;
    -fx-text-fill: #1d1d1d;
}

.button:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.label {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: black;
    -fx-opacity: 0.6;
}

.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%);
}